################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.suo
bin
obj
packages
/CurrencyRates/CurrencyRate.Api/Properties/PublishProfiles
/CurrencyRates/.vs/CurrencyRates/DesignTimeBuild
